<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
  <link rel='stylesheet' href='/stylesheets/style.css'>
  <script type='text/javascript' src='/javascripts/vendor/jquery-1.8.0.min.js'></script>
  <script type='text/javascript' src='/javascripts/vendor/chosen.jquery.min.js'></script>
  <script type='text/javascript' src='/javascripts/vendor/modernizr.js'></script>
  <script type='text/javascript' src='/javascripts/vendor/handlebars-1.0.0.beta.6.js'></script>
  <script type='text/javascript' src='/javascripts/vendor/animate.jquery.js'></script>
</head>
<body class="mobile-viewport">
	<header>
		<h1 id="logo">SAY: Thanks</h1>
	</header>
	{{{body}}}
	<script type='text/javascript' src='/javascripts/client.js'></script>
</body>
</html>