<div class="page-container active" id="login-page">
	<div id="hero" class="section">
		<span class="prop-icon you-rock-icon"></span>
		<span class="title"></span>
	</div>
	<div class="section">
		<h3>Send <strong>props</strong> when co-workers do great things at <strong>SAY</strong>.</h3>
	</div>
	<div class="section">
		<a class="button" title="login" href="/sessions/connect">Login with twitter</a>
	</div>
</div>