/* line 17, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../usr/local/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* @group Base */
/* line 2, sass/_chosen.scss */
.chzn-container {
  font-size: 15px;
  position: relative;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/* line 9, sass/_chosen.scss */
.chzn-container .chzn-drop {
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  position: absolute;
  top: 29px;
  left: 0;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  z-index: 1010;
}

/* @end */
/* @group Multi Chosen */
/* line 24, sass/_chosen.scss */
.chzn-container-multi .chzn-choices {
  background-color: #fff;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: linear-gradient(#eeeeee 1%, #ffffff 15%);
  border: 1px solid #aaa;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
}

/* line 40, sass/_chosen.scss */
.chzn-container-multi .chzn-choices li {
  float: left;
  list-style: none;
}

/* line 44, sass/_chosen.scss */
.chzn-container-multi .chzn-choices .search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}

/* line 49, sass/_chosen.scss */
.chzn-container-multi .chzn-choices .search-field input {
  color: #666;
  background: transparent !important;
  border: 0 !important;
  font-family: sans-serif;
  font-size: 100%;
  height: 30px;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 63, sass/_chosen.scss */
.chzn-container-multi .chzn-choices .search-field .default {
  color: #999;
}

/* line 66, sass/_chosen.scss */
.chzn-container-multi .chzn-choices .search-choice {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333;
  border: 1px solid #aaaaaa;
  line-height: 13px;
  padding: 3px 20px 3px 5px;
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default;
}

/* line 91, sass/_chosen.scss */
.chzn-container-multi .chzn-choices .search-choice.search-choice-disabled {
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  color: #666;
  border: 1px solid #cccccc;
  padding-right: 5px;
}

/* line 104, sass/_chosen.scss */
.chzn-container-multi .chzn-choices .search-choice-focus {
  background: #d4d4d4;
}

/* line 107, sass/_chosen.scss */
.chzn-container-multi .chzn-choices .search-choice .search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url("chosen-sprite.png") right top no-repeat;
}

/* line 117, sass/_chosen.scss */
.chzn-container-multi .chzn-choices .search-choice .search-choice-close:hover {
  background-position: right -11px;
}

/* line 120, sass/_chosen.scss */
.chzn-container-multi .chzn-choices .search-choice-focus .search-choice-close {
  background-position: right -11px;
}

/* @end */
/* @group Results */
/* line 126, sass/_chosen.scss */
.chzn-container .chzn-results {
  margin: 0 4px 4px 0;
  max-height: 240px;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 135, sass/_chosen.scss */
.chzn-container-multi .chzn-results {
  margin: -1px 0 0;
  padding: 0;
}

/* line 139, sass/_chosen.scss */
.chzn-container .chzn-results li {
  display: none;
  line-height: 15px;
  padding: 5px 6px;
  margin: 0;
  list-style: none;
}

/* line 146, sass/_chosen.scss */
.chzn-container .chzn-results .active-result {
  cursor: pointer;
  display: list-item;
}

/* line 150, sass/_chosen.scss */
.chzn-container .chzn-results .highlighted {
  background-color: #3875d7;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3875d7', endColorstr='#2a62bc', GradientType=0 );
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #3875d7), color-stop(90%, #2a62bc));
  background-image: -webkit-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -moz-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: -o-linear-gradient(top, #3875d7 20%, #2a62bc 90%);
  background-image: linear-gradient(#3875d7 20%, #2a62bc 90%);
  color: #fff;
}

/* line 160, sass/_chosen.scss */
.chzn-container .chzn-results li em {
  background: #feffde;
  font-style: normal;
}

/* line 164, sass/_chosen.scss */
.chzn-container .chzn-results .highlighted em {
  background: transparent;
}

/* line 167, sass/_chosen.scss */
.chzn-container .chzn-results .no-results {
  background: #f4f4f4;
  display: list-item;
}

/* line 171, sass/_chosen.scss */
.chzn-container .chzn-results .group-result {
  cursor: default;
  color: #999;
  font-weight: bold;
}

/* line 176, sass/_chosen.scss */
.chzn-container .chzn-results .group-option {
  padding-left: 15px;
}

/* line 179, sass/_chosen.scss */
.chzn-container-multi .chzn-drop .result-selected {
  display: none;
}

/* line 182, sass/_chosen.scss */
.chzn-container .chzn-results-scroll {
  background: white;
  margin: 0 4px;
  position: absolute;
  text-align: center;
  width: 321px;
  /* This should by dynamic with js */
  z-index: 1;
}

/* line 190, sass/_chosen.scss */
.chzn-container .chzn-results-scroll span {
  display: inline-block;
  height: 17px;
  text-indent: -5000px;
  width: 9px;
}

/* line 196, sass/_chosen.scss */
.chzn-container .chzn-results-scroll-down {
  bottom: 0;
}

/* line 199, sass/_chosen.scss */
.chzn-container .chzn-results-scroll-down span {
  background: url("chosen-sprite.png") no-repeat -4px -3px;
}

/* line 202, sass/_chosen.scss */
.chzn-container .chzn-results-scroll-up span {
  background: url("chosen-sprite.png") no-repeat -22px -3px;
}

/* @end */
/* @group Active  */
/* line 208, sass/_chosen.scss */
.chzn-container-active .chzn-single {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
}

/* line 214, sass/_chosen.scss */
.chzn-container-active .chzn-single-with-drop {
  border: 1px solid #aaa;
  -webkit-box-shadow: 0 1px 0 #fff inset;
  -moz-box-shadow: 0 1px 0 #fff inset;
  box-shadow: 0 1px 0 #fff inset;
  background-color: #eee;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eeeeee', endColorstr='#ffffff', GradientType=0 );
  background-image: -webkit-gradient(linear, 0 0, 0 100%, color-stop(20%, #eeeeee), color-stop(80%, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: -moz-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: -o-linear-gradient(top, #eeeeee 20%, white 80%);
  background-image: linear-gradient(#eeeeee 20%, #ffffff 80%);
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

/* line 233, sass/_chosen.scss */
.chzn-container-active .chzn-single-with-drop div {
  background: transparent;
  border-left: none;
}

/* line 237, sass/_chosen.scss */
.chzn-container-active .chzn-single-with-drop div b {
  background-position: -18px 1px;
}

/* line 240, sass/_chosen.scss */
.chzn-container-active .chzn-choices {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
}

/* line 246, sass/_chosen.scss */
.chzn-container-active .chzn-choices .search-field input {
  color: #111 !important;
}

/* @end */
/* @group Disabled Support */
/* line 252, sass/_chosen.scss */
.chzn-disabled {
  cursor: default;
  opacity: 0.5 !important;
}

/* line 256, sass/_chosen.scss */
.chzn-disabled .chzn-single {
  cursor: default;
}

/* line 259, sass/_chosen.scss */
.chzn-disabled .chzn-choices .search-choice .search-choice-close {
  cursor: default;
}

/* @group Right to Left */
/* line 264, sass/_chosen.scss */
.chzn-rtl {
  text-align: right;
}

/* line 265, sass/_chosen.scss */
.chzn-rtl .chzn-single {
  padding: 0 8px 0 0;
  overflow: visible;
}

/* line 266, sass/_chosen.scss */
.chzn-rtl .chzn-single span {
  margin-left: 26px;
  margin-right: 0;
  direction: rtl;
}

/* line 268, sass/_chosen.scss */
.chzn-rtl .chzn-single div {
  left: 3px;
  right: auto;
}

/* line 269, sass/_chosen.scss */
.chzn-rtl .chzn-single abbr {
  left: 26px;
  right: auto;
}

/* line 273, sass/_chosen.scss */
.chzn-rtl .chzn-choices .search-field input {
  direction: rtl;
}

/* line 274, sass/_chosen.scss */
.chzn-rtl .chzn-choices li {
  float: right;
}

/* line 275, sass/_chosen.scss */
.chzn-rtl .chzn-choices .search-choice {
  padding: 3px 5px 3px 19px;
  margin: 3px 5px 3px 0;
}

/* line 276, sass/_chosen.scss */
.chzn-rtl .chzn-choices .search-choice .search-choice-close {
  left: 4px;
  right: auto;
  background-position: right top;
}

/* line 277, sass/_chosen.scss */
.chzn-rtl.chzn-container-single .chzn-results {
  margin: 0 0 4px 4px;
  padding: 0 4px 0 0;
}

/* line 278, sass/_chosen.scss */
.chzn-rtl .chzn-results .group-option {
  padding-left: 0;
  padding-right: 15px;
}

/* line 279, sass/_chosen.scss */
.chzn-rtl.chzn-container-active .chzn-single-with-drop div {
  border-right: none;
}

/* line 280, sass/_chosen.scss */
.chzn-rtl .chzn-search input {
  background: white url("chosen-sprite.png") no-repeat -38px -22px;
  background: url("chosen-sprite.png") no-repeat -38px -22px, -webkit-gradient(linear, 0 0, 0 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background: url("chosen-sprite.png") no-repeat -38px -22px, -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("chosen-sprite.png") no-repeat -38px -22px, -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("chosen-sprite.png") no-repeat -38px -22px, -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background: url("chosen-sprite.png") no-repeat -38px -22px, linear-gradient(#eeeeee 1%, #ffffff 15%);
  padding: 4px 5px 4px 20px;
  direction: rtl;
}

/* @end */
/* line 3, sass/_page-transitions.scss */
.in, .out {
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-duration: 250ms;
}

/* line 8, sass/_page-transitions.scss */
.slide.out {
  -webkit-transform: translateX(-100%);
  -webkit-animation-name: slideouttoleft;
}

/* line 13, sass/_page-transitions.scss */
.slide.in {
  -webkit-transform: translateX(0);
  -webkit-animation-name: slideinfromright;
}

/* line 18, sass/_page-transitions.scss */
.slide.out.reverse {
  -webkit-transform: translateX(100%);
  -webkit-animation-name: slideouttoright;
}

/* line 23, sass/_page-transitions.scss */
.slide.in.reverse {
  -webkit-transform: translateX(0);
  -webkit-animation-name: slideinfromleft;
}

/* line 28, sass/_page-transitions.scss */
.slideup.out {
  -webkit-animation-name: dontmove;
  z-index: 0;
}

/* line 33, sass/_page-transitions.scss */
.slideup.in {
  -webkit-transform: translateY(0);
  -webkit-animation-name: slideinfrombottom;
  z-index: 10;
}

/* line 39, sass/_page-transitions.scss */
.slideup.in.reverse {
  z-index: 0;
  -webkit-animation-name: dontmove;
}

/* line 44, sass/_page-transitions.scss */
.slideup.out.reverse {
  -webkit-transform: translateY(100%);
  z-index: 10;
  -webkit-animation-name: slideouttobottom;
}

/* line 50, sass/_page-transitions.scss */
.slidedown.out {
  -webkit-animation-name: dontmove;
  z-index: 0;
}

/* line 55, sass/_page-transitions.scss */
.slidedown.in {
  -webkit-transform: translateY(0);
  -webkit-animation-name: slideinfromtop;
  z-index: 10;
}

/* line 60, sass/_page-transitions.scss */
.slidedown.in.reverse {
  z-index: 0;
  -webkit-animation-name: dontmove;
}

/* line 64, sass/_page-transitions.scss */
.slidepagein {
  -webkit-transform: rotateY(0);
  -webkit-backface-visibility: hidden;
  -webkit-animation-name: slidepagein;
}

/* line 68, sass/_page-transitions.scss */
.slidepageout {
  -webkit-transform: rotateY(0);
  -webkit-backface-visibility: hidden;
  -webkit-animation-name: slidepageout;
}

/* line 72, sass/_page-transitions.scss */
.slidedown.out.reverse {
  -webkit-transform: translateY(-100%);
  z-index: 10;
  -webkit-animation-name: slideouttotop;
}

@-webkit-keyframes slideinfromright {
  /* line 79, sass/_page-transitions.scss */
  from {
    -webkit-transform: translateX(100%);
  }

  /* line 80, sass/_page-transitions.scss */
  to {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slideinfromleft {
  /* line 84, sass/_page-transitions.scss */
  from {
    -webkit-transform: translateX(-100%);
  }

  /* line 85, sass/_page-transitions.scss */
  to {
    -webkit-transform: translateX(0);
  }
}

@-webkit-keyframes slideouttoleft {
  /* line 89, sass/_page-transitions.scss */
  from {
    -webkit-transform: translateX(0);
  }

  /* line 90, sass/_page-transitions.scss */
  to {
    -webkit-transform: translateX(-100%);
  }
}

@-webkit-keyframes slideouttoright {
  /* line 94, sass/_page-transitions.scss */
  from {
    -webkit-transform: translateX(0);
  }

  /* line 95, sass/_page-transitions.scss */
  to {
    -webkit-transform: translateX(100%);
  }
}

@-webkit-keyframes slideinfromtop {
  /* line 99, sass/_page-transitions.scss */
  from {
    -webkit-transform: translateY(-100%);
  }

  /* line 100, sass/_page-transitions.scss */
  to {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes slideinfrombottom {
  /* line 104, sass/_page-transitions.scss */
  from {
    -webkit-transform: translateY(100%);
  }

  /* line 105, sass/_page-transitions.scss */
  to {
    -webkit-transform: translateY(0);
  }
}

@-webkit-keyframes slideouttobottom {
  /* line 109, sass/_page-transitions.scss */
  from {
    -webkit-transform: translateY(0);
  }

  /* line 110, sass/_page-transitions.scss */
  to {
    -webkit-transform: translateY(100%);
  }
}

@-webkit-keyframes slideouttotop {
  /* line 114, sass/_page-transitions.scss */
  from {
    -webkit-transform: translateY(0);
  }

  /* line 115, sass/_page-transitions.scss */
  to {
    -webkit-transform: translateY(-100%);
  }
}

@-webkit-keyframes fadein {
  /* line 118, sass/_page-transitions.scss */
  from {
    opacity: 0;
  }

  /* line 119, sass/_page-transitions.scss */
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  /* line 123, sass/_page-transitions.scss */
  from {
    opacity: 1;
  }

  /* line 124, sass/_page-transitions.scss */
  to {
    opacity: 0;
  }
}

@-webkit-keyframes slidepagein {
  /* line 128, sass/_page-transitions.scss */
  from {
    -webkit-transform: translateX(0);
  }

  /* line 129, sass/_page-transitions.scss */
  to {
    -webkit-transform: translateX(78.571%);
  }
}

@-webkit-keyframes slidepageout {
  /* line 133, sass/_page-transitions.scss */
  from {
    -webkit-transform: translateX(0);
  }

  /* line 134, sass/_page-transitions.scss */
  to {
    -webkit-transform: translateX(-78.571%);
  }
}

@-webkit-keyframes dontmove {
  /* line 138, sass/_page-transitions.scss */
  from {
    opacity: 1;
  }

  /* line 139, sass/_page-transitions.scss */
  to {
    opacity: 1;
  }
}

/* line 142, sass/_page-transitions.scss */
.fade.out {
  -webkit-animation-name: fadeout;
}

/* line 146, sass/_page-transitions.scss */
.fade.in {
  -webkit-animation-name: fadein;
}

/* line 101, sass/style.scss */
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  color: #00B7FF;
}

/* line 102, sass/style.scss */
html * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 105, sass/style.scss */
body, textarea, input, select {
  font: 14px Helvetica, Arial, sans-serif;
}

/* line 108, sass/style.scss */
strong {
  font-weight: bold;
}

/* line 109, sass/style.scss */
body {
  color: #aaaaaa;
  padding: 0.5em;
  background: url("/images/bg.png");
}

/* line 114, sass/style.scss */
html, .mobile-viewport {
  overflow: hidden;
  margin: 0;
  height: 99.9%;
}

/* line 119, sass/style.scss */
.mobile-viewport {
  overflow-x: hidden;
}

/* line 121, sass/style.scss */
h3 {
  text-shadow: 0 1px 0 white;
  font-weight: normal;
  font-size: 1.4em;
  line-height: 1.1em;
  text-align: center;
}

/* line 128, sass/style.scss */
header {
  background-image: url("/images/header.png");
  -webkit-transform: rotateY(0);
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  height: 49px;
  -webkit-background-size: auto 49px;
  -moz-background-size: auto 49px;
  -o-background-size: auto 49px;
  background-size: auto 49px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 128, sass/style.scss */
  header {
    -webkit-background-size: 320px auto;
    -moz-background-size: 320px auto;
    -o-background-size: 320px auto;
    background-size: 320px auto;
    background-image: url("/images/header@2x.png");
  }
}

/* line 150, sass/style.scss */
#hero {
  margin: 50px 0 30px !important;
  height: 100px;
  background-image: url("/images/paper-texture.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 150, sass/style.scss */
  #hero {
    -webkit-background-size: 180px auto;
    -moz-background-size: 180px auto;
    -o-background-size: 180px auto;
    background-size: 180px auto;
    background-image: url("/images/paper-texture@2x.png");
  }
}
/* line 158, sass/style.scss */
#hero .prop-icon, #hero .prop-list .icon, .prop-list #hero .icon, #hero .title {
  opacity: 0;
}
/* line 161, sass/style.scss */
#hero .prop-icon, #hero .prop-list .icon, .prop-list #hero .icon {
  opacity: 0.9;
  margin: -15px 0 0 -15px;
  float: left;
}
/* line 166, sass/style.scss */
#hero .title {
  opacity: 0.9;
  background-image: url("/images/hero-title.png");
  background-position: 5px 40%;
  background-repeat: no-repeat;
  width: 210px;
  height: 100px;
  float: left;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 166, sass/style.scss */
  #hero .title {
    -webkit-background-size: 200px auto;
    -moz-background-size: 200px auto;
    -o-background-size: 200px auto;
    background-size: 200px auto;
    background-image: url("/images/hero-title@2x.png");
  }
}

/* line 177, sass/style.scss */
#login-page .section {
  margin: 30px 0;
}

/* line 179, sass/style.scss */
#logo {
  background-image: url("/images/logo.png");
  background-repeat: no-repeat;
  background-position: 50% 3px;
  height: 5em;
  display: block;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  -webkit-background-size: auto 36px;
  -moz-background-size: auto 36px;
  -o-background-size: auto 36px;
  background-size: auto 36px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 179, sass/style.scss */
  #logo {
    -webkit-background-size: 79px auto;
    -moz-background-size: 79px auto;
    -o-background-size: 79px auto;
    background-size: 79px auto;
    background-image: url("/images/logo@2x.png");
  }
}

/* line 188, sass/style.scss */
.page-container {
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotateY(0);
}

/* line 195, sass/style.scss */
.page-container {
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
  padding: 1em;
  top: 24.5px;
  display: none;
  margin: auto;
  width: 100%;
  height: 100%;
}
/* line 206, sass/style.scss */
.page-container.active, .page-container.in, .page-container.out {
  display: block !important;
  opacity: 1;
}

/* line 211, sass/style.scss */
.new-form {
  width: 100%;
}

/* line 215, sass/style.scss */
.stacked-form label, .stacked-form textarea, .stacked-form select, .stacked-form input {
  display: block;
}
/* line 218, sass/style.scss */
.stacked-form .section {
  margin: 1em 0;
}
/* line 221, sass/style.scss */
.stacked-form label {
  text-shadow: 0 1px 0 white;
  font-size: 1.2em;
  line-height: 1.2em;
  margin: 0.5em 0;
  color: #aaaaaa;
}

/* line 229, sass/style.scss */
.search-choice {
  line-height: 1.3em !important;
}

/* line 232, sass/style.scss */
.chzn-container {
  position: relative;
  -webkit-transform: rotateY(0);
  -webkit-backface-visibility: hidden;
  width: 300px;
  border-color: #cccccc;
}
/* line 237, sass/style.scss */
.chzn-container .chzn-results li {
  text-indent: 42px;
  background-position: 5px 50%;
  -webkit-background-size: 32px 32px;
  -moz-background-size: 32px 32px;
  -o-background-size: 32px 32px;
  background-size: 32px 32px;
  border-bottom: 1px solid #f2f2f2;
  line-height: 2em;
}

/* line 245, sass/style.scss */
.chzn-container .chzn-results {
  max-height: 164px;
  -webkit-transform: rotateY(0);
  -webkit-backface-visibility: hidden;
}

/* line 249, sass/style.scss */
.button {
  background-color: #40ede8;
  border: 1px solid;
  border-color: #085956 #0d8784 #0d8784;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2ee1ff), color-stop(49%, #0ad9fc), color-stop(50%, #04d5f7), color-stop(100%, #00b8d6));
  background: -webkit-linear-gradient(#2ee1ff 0%, #0ad9fc 49%, #04d5f7 50%, #00b8d6 100%);
  background: -moz-linear-gradient(#2ee1ff 0%, #0ad9fc 49%, #04d5f7 50%, #00b8d6 100%);
  background: -o-linear-gradient(#2ee1ff 0%, #0ad9fc 49%, #04d5f7 50%, #00b8d6 100%);
  background: linear-gradient(#2ee1ff 0%, #0ad9fc 49%, #04d5f7 50%, #00b8d6 100%);
  text-shadow: 0 1px 0px #064140;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px, rgba(255, 255, 255, 0.5) 0 1px 0 inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px, rgba(255, 255, 255, 0.5) 0 1px 0 inset;
  box-shadow: rgba(0, 0, 0, 0.1) 0 1px 1px, rgba(255, 255, 255, 0.5) 0 1px 0 inset;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 1.2em;
  padding: 12px;
}
/* line 43, sass/style.scss */
.button:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #52e7ff), color-stop(49%, #2ce1ff), color-stop(50%, #21dfff), color-stop(100%, #00d7fa));
  background: -webkit-linear-gradient(#52e7ff 0%, #2ce1ff 49%, #21dfff 50%, #00d7fa 100%);
  background: -moz-linear-gradient(#52e7ff 0%, #2ce1ff 49%, #21dfff 50%, #00d7fa 100%);
  background: -o-linear-gradient(#52e7ff 0%, #2ce1ff 49%, #21dfff 50%, #00d7fa 100%);
  background: linear-gradient(#52e7ff 0%, #2ce1ff 49%, #21dfff 50%, #00d7fa 100%);
}
/* line 48, sass/style.scss */
.button, .button:visited {
  color: white;
}
/* line 51, sass/style.scss */
.button.inset {
  -webkit-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 inset, rgba(255, 255, 255, 0.4) 0 1px 0;
  -moz-box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 inset, rgba(255, 255, 255, 0.4) 0 1px 0;
  box-shadow: rgba(255, 255, 255, 0.4) 0 1px 0 inset, rgba(255, 255, 255, 0.4) 0 1px 0;
}
/* line 62, sass/style.scss */
.button.loading, .button[disabled], .button[disabled]:hover {
  background-color: #40ede8;
}
/* line 65, sass/style.scss */
.button.disabled, .button[disabled] {
  color: #0d8784;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
/* line 68, sass/style.scss */
.button:active:not([disabled]):not(.disabled) {
  -webkit-box-shadow: inset 0 2px 3px #0d8784;
  -moz-box-shadow: inset 0 2px 3px #0d8784;
  box-shadow: inset 0 2px 3px #0d8784;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #80ffd1), color-stop(100%, #00dbff));
  background: -webkit-linear-gradient(#80ffd1, #00dbff);
  background: -moz-linear-gradient(#80ffd1, #00dbff);
  background: -o-linear-gradient(#80ffd1, #00dbff);
  background: linear-gradient(#80ffd1, #00dbff);
}

/* line 259, sass/style.scss */
.success-title {
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  background-image: url("/images/success.png");
  width: 241px;
  height: 152px;
  display: block;
  margin: 69px auto 10px;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 259, sass/style.scss */
  .success-title {
    -webkit-background-size: 241px auto;
    -moz-background-size: 241px auto;
    -o-background-size: 241px auto;
    background-size: 241px auto;
    background-image: url("/images/success@2x.png");
  }
}

/* line 269, sass/style.scss */
.thanks-icon, .prop-list li:nth-child(1) .icon {
  background-image: url("/images/thanks-prop.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 269, sass/style.scss */
  .thanks-icon, .prop-list li:nth-child(1) .icon {
    -webkit-background-size: 90px auto;
    -moz-background-size: 90px auto;
    -o-background-size: 90px auto;
    background-size: 90px auto;
    background-image: url("/images/thanks-prop@2x.png");
  }
}

/* line 269, sass/style.scss */
.congrats-icon, .prop-list li:nth-child(2) .icon {
  background-image: url("/images/congrats-prop.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 269, sass/style.scss */
  .congrats-icon, .prop-list li:nth-child(2) .icon {
    -webkit-background-size: 90px auto;
    -moz-background-size: 90px auto;
    -o-background-size: 90px auto;
    background-size: 90px auto;
    background-image: url("/images/congrats-prop@2x.png");
  }
}

/* line 269, sass/style.scss */
.good-job-icon, .prop-list li:nth-child(3) .icon {
  background-image: url("/images/good-job-prop.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 269, sass/style.scss */
  .good-job-icon, .prop-list li:nth-child(3) .icon {
    -webkit-background-size: 90px auto;
    -moz-background-size: 90px auto;
    -o-background-size: 90px auto;
    background-size: 90px auto;
    background-image: url("/images/good-job-prop@2x.png");
  }
}

/* line 269, sass/style.scss */
.inspirational-icon, .prop-list li:nth-child(4) .icon {
  background-image: url("/images/inspirational-prop.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 269, sass/style.scss */
  .inspirational-icon, .prop-list li:nth-child(4) .icon {
    -webkit-background-size: 90px auto;
    -moz-background-size: 90px auto;
    -o-background-size: 90px auto;
    background-size: 90px auto;
    background-image: url("/images/inspirational-prop@2x.png");
  }
}

/* line 269, sass/style.scss */
.speedy-icon, .prop-list li:nth-child(5) .icon {
  background-image: url("/images/speedy-prop.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 269, sass/style.scss */
  .speedy-icon, .prop-list li:nth-child(5) .icon {
    -webkit-background-size: 90px auto;
    -moz-background-size: 90px auto;
    -o-background-size: 90px auto;
    background-size: 90px auto;
    background-image: url("/images/speedy-prop@2x.png");
  }
}

/* line 269, sass/style.scss */
.awesome-icon, .prop-list li:nth-child(6) .icon {
  background-image: url("/images/awesome-prop.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 269, sass/style.scss */
  .awesome-icon, .prop-list li:nth-child(6) .icon {
    -webkit-background-size: 90px auto;
    -moz-background-size: 90px auto;
    -o-background-size: 90px auto;
    background-size: 90px auto;
    background-image: url("/images/awesome-prop@2x.png");
  }
}

/* line 269, sass/style.scss */
.interesting-icon, .prop-list li:nth-child(7) .icon {
  background-image: url("/images/interesting-prop.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 269, sass/style.scss */
  .interesting-icon, .prop-list li:nth-child(7) .icon {
    -webkit-background-size: 90px auto;
    -moz-background-size: 90px auto;
    -o-background-size: 90px auto;
    background-size: 90px auto;
    background-image: url("/images/interesting-prop@2x.png");
  }
}

/* line 269, sass/style.scss */
.you-rock-icon, .prop-list li:nth-child(8) .icon {
  background-image: url("/images/you-rock-prop.png");
}
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  /* line 269, sass/style.scss */
  .you-rock-icon, .prop-list li:nth-child(8) .icon {
    -webkit-background-size: 90px auto;
    -moz-background-size: 90px auto;
    -o-background-size: 90px auto;
    background-size: 90px auto;
    background-image: url("/images/you-rock-prop@2x.png");
  }
}

/* line 273, sass/style.scss */
.prop-icon, .prop-list .icon {
  display: block;
  width: 90px;
  height: 90px;
}

/* line 279, sass/style.scss */
.prop-list li {
  margin: 0.2em;
  float: left;
}
/* line 290, sass/style.scss */
.prop-list .icon {
  -webkit-transition: all 100ms linear;
  -moz-transition: all 100ms linear;
  -o-transition: all 100ms linear;
  transition: all 100ms linear;
}
/* line 294, sass/style.scss */
.prop-list .icon:active, .prop-list .icon:hover {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  -o-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transform: scale(1.1, 1.1);
  -moz-transform: scale(1.1, 1.1);
  -ms-transform: scale(1.1, 1.1);
  -o-transform: scale(1.1, 1.1);
  transform: scale(1.1, 1.1);
}
/* line 299, sass/style.scss */
.prop-list .title {
  display: block;
  margin: 0.4em 0 0.2em;
  font-size: 0.9em;
  text-align: center;
  text-shadow: 0 1px 0 white;
}

/* line 308, sass/style.scss */
input, select, textarea, .chzn-select, .chzn-container-multi .chzn-choices {
  padding: 0.5em;
  color: #888888;
  width: 100%;
  border: 1px solid #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 1px inset;
  -moz-box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 1px inset;
  box-shadow: white 0 1px 0, rgba(0, 0, 0, 0.3) 0 1px 1px inset;
}

/* line 316, sass/style.scss */
textarea {
  min-height: 140px;
}

/* line 320, sass/style.scss */
.animated, .loaded #login-page .prop-icon, .loaded #login-page .prop-list .icon, .prop-list .loaded #login-page .icon, .loaded #login-page .title, .loaded #login-page .button {
  -webkit-animation: 1s ease both;
  -moz-animation: 1s ease both;
  -ms-animation: 1s ease both;
  -o-animation: 1s ease both;
  animation: 1s ease both;
}
/* line 322, sass/style.scss */
.animated.slow, .loaded #login-page .slow.prop-icon, .loaded #login-page .prop-list .slow.icon, .prop-list .loaded #login-page .slow.icon, .loaded #login-page .slow.title, .loaded #login-page .slow.button {
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  -ms-animation-duration: 3s;
  -o-animation-duration: 3s;
  animation-duration: 3s;
}
/* line 323, sass/style.scss */
.animated.fast, .loaded #login-page .fast.prop-icon, .loaded #login-page .prop-list .fast.icon, .prop-list .loaded #login-page .fast.icon, .loaded #login-page .fast.title, .loaded #login-page .fast.button {
  -webkit-animation-duration: 0.35s;
  -moz-animation-duration: 0.35s;
  -ms-animation-duration: 0.35s;
  -o-animation-duration: 0.35s;
  animation-duration: 0.35s;
}
/* line 324, sass/style.scss */
.animated.none, .loaded #login-page .none.prop-icon, .loaded #login-page .prop-list .none.icon, .prop-list .loaded #login-page .none.icon, .loaded #login-page .none.title, .loaded #login-page .none.button {
  -webkit-animation: blank 0.01s 1;
  -moz-animation: blank 0.01s 1;
  -ms-animation: blank 0.01s 1;
  -o-animation: blank 0.01s 1;
  animation: blank 0.01s 1;
}

/* line 333, sass/style.scss */
.bounceInDown, .loaded #login-page .prop-icon, .loaded #login-page .prop-list .icon, .prop-list .loaded #login-page .icon, .loaded #login-page .title {
  -webkit-animation-name: bounceInDown;
  -moz-animation-name: bounceInDown;
  -ms-animation-name: bounceInDown;
  -o-animation-name: bounceInDown;
  animation-name: bounceInDown;
}

/* line 333, sass/style.scss */
.bounceInUp, .loaded #login-page .button {
  -webkit-animation-name: bounceInUp;
  -moz-animation-name: bounceInUp;
  -ms-animation-name: bounceInUp;
  -o-animation-name: bounceInUp;
  animation-name: bounceInUp;
}

@-moz-keyframes bounceInDown {
  /* line 339, sass/style.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  /* line 342, sass/style.scss */
  60% {
    opacity: 1;
    -moz-transform: translateY(30px);
    transform: translateY(30px);
  }

  /* line 345, sass/style.scss */
  80% {
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  /* line 347, sass/style.scss */
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes bounceInDown {
  /* line 339, sass/style.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  /* line 342, sass/style.scss */
  60% {
    opacity: 1;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  /* line 345, sass/style.scss */
  80% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  /* line 347, sass/style.scss */
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes bounceInDown {
  /* line 339, sass/style.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  /* line 342, sass/style.scss */
  60% {
    opacity: 1;
    -o-transform: translateY(30px);
    transform: translateY(30px);
  }

  /* line 345, sass/style.scss */
  80% {
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  /* line 347, sass/style.scss */
  100% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-ms-keyframes bounceInDown {
  /* line 339, sass/style.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  /* line 342, sass/style.scss */
  60% {
    opacity: 1;
    -ms-transform: translateY(30px);
    transform: translateY(30px);
  }

  /* line 345, sass/style.scss */
  80% {
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  /* line 347, sass/style.scss */
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceInDown {
  /* line 339, sass/style.scss */
  0% {
    opacity: 0;
    transform: translateY(-2000px);
  }

  /* line 342, sass/style.scss */
  60% {
    opacity: 1;
    transform: translateY(30px);
  }

  /* line 345, sass/style.scss */
  80% {
    transform: translateY(-10px);
  }

  /* line 347, sass/style.scss */
  100% {
    transform: translateY(0);
  }
}

@-moz-keyframes bounceInUp {
  /* line 353, sass/style.scss */
  0% {
    opacity: 0;
    -moz-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  /* line 356, sass/style.scss */
  60% {
    opacity: 1;
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  /* line 359, sass/style.scss */
  80% {
    -moz-transform: translateY(10px);
    transform: translateY(10px);
  }

  /* line 361, sass/style.scss */
  100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes bounceInUp {
  /* line 353, sass/style.scss */
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  /* line 356, sass/style.scss */
  60% {
    opacity: 1;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  /* line 359, sass/style.scss */
  80% {
    -webkit-transform: translateY(10px);
    transform: translateY(10px);
  }

  /* line 361, sass/style.scss */
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-o-keyframes bounceInUp {
  /* line 353, sass/style.scss */
  0% {
    opacity: 0;
    -o-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  /* line 356, sass/style.scss */
  60% {
    opacity: 1;
    -o-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  /* line 359, sass/style.scss */
  80% {
    -o-transform: translateY(10px);
    transform: translateY(10px);
  }

  /* line 361, sass/style.scss */
  100% {
    -o-transform: translateY(0);
    transform: translateY(0);
  }
}

@-ms-keyframes bounceInUp {
  /* line 353, sass/style.scss */
  0% {
    opacity: 0;
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  /* line 356, sass/style.scss */
  60% {
    opacity: 1;
    -ms-transform: translateY(-30px);
    transform: translateY(-30px);
  }

  /* line 359, sass/style.scss */
  80% {
    -ms-transform: translateY(10px);
    transform: translateY(10px);
  }

  /* line 361, sass/style.scss */
  100% {
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounceInUp {
  /* line 353, sass/style.scss */
  0% {
    opacity: 0;
    transform: translateY(2000px);
  }

  /* line 356, sass/style.scss */
  60% {
    opacity: 1;
    transform: translateY(-30px);
  }

  /* line 359, sass/style.scss */
  80% {
    transform: translateY(10px);
  }

  /* line 361, sass/style.scss */
  100% {
    transform: translateY(0);
  }
}
